{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    About
{% endblock %}

{% block content %}
<div class="row no-margin content-row">
    <div class="col s12">
        <img class="img" src="{{ MEDIA_URL }}my-ugly-mug.jpg" alt="About">
    </div>
    <div class="col s12 content-section">
        <p class="content-item">About</p>
        <p class="content-item"><strong>We're all bout über limited edition mugs. The uglier, the grander. 
                   And remember that our mugs are certified always half empty.</strong></p>
        <a class="content-item" href="{% url 'mugs' %}">Take me to the mug of the month already!</a>
    </div>
</div>
{% endblock %}