{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="padding index">
    <div class="row">
        <div class="col s12 border-top">
            <h1>Hello! We make ugly mugs.</h1>
        </div>
        <div class="col s12">
            <p>Show the world that your are so OMFG ready for a brand-new day, 
            or show your wonderful spouse how much you love them with our incredibly
            ugly <strong>limited edition</strong> mugs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <img class="img" src="{{ MEDIA_URL }}ugly-mug.jpg" alt="Ugly Mug">
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <a href="{% url 'mugs' %}" class="waves-effect waves-light btn">Browse the collection</a>
        </div>
    </div>
</div>
<div class="mug-of-the-month">
    <div class="bg-image">  
        <div class="row">
            <div class="col s12 center campaign-title">
                <p>Mug of the Month</p>
            </div>
            <div class="col s12 center campaign-name">
                <h2>The Christmas Annihilator</h2>
            </div>
            <div class="col s12 center campaign-price">
                <p>$29</p>
            </div>
            <div class="col s12 center">
                <a href="{% url 'mugs' %}" class="waves-effect waves-light btn">So Wow! Buy Now!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}