{% extends "base.html" %} 
{% load static %} 

{% block extra_title %}
    Mug Detail
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 m6">
        {% if mug.image %}
        <div class="card">
            <div class="card-image">
                <a href="{{ mug.image.url }}" target="_blank">
                    <img src="{{ mug.image.url }}" alt="{{ mug.name }}" target="_blank" />
                </a>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-image">
                <a href="{{ mug.image.url }}" target="_blank">
                    <img src="{{ MEDIA_URL }}my-ugly-mug.jpg" alt="{{ mug.name }}" />
                </a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col s12 m6">
        <p class="mug-name">{{ mug.name }}</p>
        <p class="mug-price">{{ mug.price }}</p>
        <p class="mug-info">{{ mug.description }}</p>
    </div>
</div>
    
  <!-- Materialize Form - Add to Cart -->


<div class="row">
    {% if mug.on_sale == True %}
    <form class="col s12" action="{% url 'add_to_cart' mug.id %} " method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12 m6 offset-m6 qty-box">
                <div class="col qty-div-dec no-padding">
                    <a class=" btn waves-effect waves-light dec qty">
                        -
                    </a>
                </div>
                <div class="col center no-padding">
                    <input
                    id="quantity"
                    type="number"
                    name="quantity"
                    value="1"
                    min="1"
                    max="99"
                    data-item_id="{{ mug.id }}"
                    id="id_qty_{{ mug.id }}"
                    class="validate qty-input"
                    />
                    <label for="quantity"></label>
                </div>
                <div class="col qty-div-inc no-padding">
                    <a class=" btn waves-effect waves-light inc qty">
                        +
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m6 display-center">
                    <button
                    class="btn waves-effect waves-light full-width center"
                    type="submit"
                    name="action"
                    >
                    Add to Cart
                    </button>
                </div>
                <div class="col s12 m6 offset-m6 display-center">
                    <a href="{% url 'mugs' %}" class="waves-effect waves-light btn full-width center">Keep Shopping</a>
                </div>
            </div>
        </div>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>
    {% else %}
    <div class="col s12">
        <p>The Ugly Mug is out of stock. A new limited edition Ugly Mug will be released by the new month.</p>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/quantity_form.js' %}"></script>
{% endblock %}