{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <hr>
        <h2>My Profile</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div>
        <p>Default Delivery Information</p>
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn waves-effect waves-light" id="submit-button" type="submit" name="action">Update Information
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    <div>
        <p>Order History</p>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Order Total</th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}"
                            title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul>
                                {% for item in order.lineitems.all %}
                                    <li>
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>${{ order.grand_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}