{% extends "base.html" %} {% load static %} {% load cart_tools %} 

{% block extra_title %}
    Cart
{% endblock %}

{% block content %}

<div class="row center">
    <h4>Your Cart</h4>
</div>

{% if cart_items %}
<div class="row">
    <div class="col s12">
        <ul class="collection">
        {% for item in cart_items %}
            <li class="collection-item avatar">
                <div class="col s12 m4">
                    <img src="{{ item.mug.image.url }}" alt="" class="circle">
                    <span class="title">{{ item.mug.name }}</span>
                    <p>${{ item.mug.price }} <br>
                        Second Line
                    </p>
                </div>
                <div class="col s12 m4">
                    <form class="update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col">
                                <input
                                type="number"
                                name="quantity"
                                value="{{ item.quantity }}"
                                min="1"
                                max="99"
                                data-item_id="{{ item.item_id }}"
                                id="id_qty_{{ item.item_id }}"
                                class="validate"
                                />
                                <label for="quantity">Quantity</label>
                            </div>
                        </div>
                        <button type="submit" name="action" class="btn waves-effect waves-light">Update</button>
                        <a href="{% url 'remove_from_cart' item.item_id %}" class="btn waves-effect waves-light">Remove</a>
                    </form>
                </div>
                <div class="col s12 m4">
                    <p>${{ item.mug.price | calc_subtotal:item.quantity }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p>Cart Total: ${{ total|floatformat:2 }}</p>
        <p>Delivery: ${{ delivery|floatformat:2 }}</p>
        <p>Grand Total: ${{ grand_total|floatformat:2 }}</p>
        {% if free_delivery_delta > 0 %}
        <p>You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!</p>
        {% endif %}
    </div>
    <div class="col s12">
        <a href="{% url 'mugs' %}" class="waves-effect waves-light btn full-width">Keep Shopping</a>
        <a href="{% url 'checkout' %}" class="waves-effect waves-light btn full-width"><i class="material-icons">lock</i>Secure Checkout</a>
    </div>
</div>
{% else %}
<div class="row center">
    <div class="col s12">
        <p>Your bag is empty.</p>
    </div>
    <div class="col s12">
        <a href="{% url 'mugs' %}" class="waves-effect waves-light btn full-width">Keep Shopping</a>
    </div>
</div>
{% endif %}

{% endblock %}
