{% extends "base.html" %} {% load static %} {% load cart_tools %} 

{% block extra_title %}
    Checkout
{% endblock %}

{% block content %}
<div class="row center">
    <h4>Checkout</h4>
</div>

<div class="row">
    <div class="col s12">
        <p>Order Summary ({{ mug_count }})</p>
        {% for item in cart_items %}
        <div class="row z-depth-3 cart-item">
            <div class="col s12">
                <div class="col s12 item-container">
                    <div class="col s6">
                        <a href="{% url 'mug_detail' item.mug.id %}">
                            {% if item.mug.image %}
                            <img src="{{ item.mug.image.url }}" alt="{{ item.mug.name }}" class="item-img">
                            {% else %}
                            <img src="{{ MEDIA_URL }}my-ugly-mug.jpg" alt="{{ mug.name }}" class="circle">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col s6 center">
                        <span class="title">{{ item.mug.name }}</span>
                    </div>
                </div>
                <div class="col s12">
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Mug price: ${{ item.mug.price | calc_subtotal:item.quantity }}</p>
                    <p><strong>Grand Total: ${{ item.mug.price | calc_subtotal:item.quantity }}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="row">
	<div class="col s7">
		<p>Order Total:</p>
		<p>Delivery:</p>
		<p class="mug-price">Grand Total:</p>
	</div>
	<div class="col s3">
		<p>{{ total | floatformat:2 }}</p>
		<p>{{ delivery | floatformat:2 }}</p>
		<p class="mug-price">{{ grand_total | floatformat:2 }}</p>
	</div>
</div>
<div class="row">
    <div class="col s12">
		<p>Please fill out the form below to complete your order</p>
		<form class="col s12" id="payment-form" action="{% url 'checkout' %}" method="POST">
		{% csrf_token %}
			<div class="row">
                <div class="col s12">
                    <p class="gray">Details</p>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </div>
			</div>
            <div class="row">
                <div class="col s12">
                    <p class="gray">Delivery</p>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </div>
			</div>
            
            {% if user.is_authenticated %}
            
            <div class="rowr">
                <input class="checkbox-input" type="checkbox" id="id-save-info" name="save-info" checked="checked">
                <label for="id-save-info right ">This delivery information will be saved to your profile</label>
            </div>
            {% else %}
            <div class="row">
                <div class="col s12">
                    <label for ="id_save-info">
                        <a href="{% url 'account_signup' %}">Create an account</a> or
                        <a href="{% url 'account_login' %}">login</a> to save this information
                    </label>
                </div>
            </div>
            {% endif %}
                

            <div class="row">
                <div class="col s12">
                    <p class="gray">Payment</p>
                    <!-- A Stripe card element will go here -->
                    <div id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div id="card-errors"></div>

                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </div>
            </div>
            <button class="btn waves-effect waves-light full-width" id="submit-button" type="submit" name="action">Complete Order</button>                
            <a class="waves-effect waves-light btn full-width" href="{% url 'view_cart' %}">Adjust Cart</a>
            <p class="gray">Your card will be charged ${{ grand_total|floatformat:2}}</p>
		</form>
    </div>
</div>

<div id="loading-overlay">
    <h1 class="loading-spinner">
        <i class="material-icons">autorenew</i>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}