{% extends "base.html" %} {% load static %} {% load cart_tools %} 

{% block extra_title %}
    Checkout
{% endblock %}

{% block content %}
<div class="row center">
    <h4>Checkout</h4>
</div>

<div class="row">
    <div class="col s12">
        <p>Order Summary ({{ mug_count }})</p>
        <ul class="collection">
        {% for item in cart_items %}
            <li class="collection-item avatar">
                <a href="{% url 'mug_detail' item.mug.id %}">
                    {% if item.mug.image %}
                    <img src="{{ item.mug.image.url }}" alt="{{ mug.name }}" class="circle">
                    {% else %}
                    <img src="{{ MEDIA_URL }}my-ugly-mug.jpg" alt="{{ mug.name }}" class="circle">
                    {% endif %}
                </a>
                <span class="title">{{ item.mug.name }}</span>
                <p>${{ item.quantity }} <br>
                   ${{ item.mug.price | calc_subtotal:item.quantity }}
                </p>
                <p>${{ item.mug.price | calc_subtotal:item.quantity }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr>
<div class="row">
	<div class="col s7">
		<p>Order Total:</p>
		<p>Delivery:</p>
		<p>Grand Total:</p>
	</div>
	<div class="col s3">
		<p>{{ total | floatformat:2 }}</p>
		<p>{{ delivery | floatformat:2 }}</p>
		<p>{{ grand_total | floatformat:2 }}</p>
	</div>
</div>
<div class="row">
    <div class="col s12">
		<p>Please fill out the form below to complete your order</p>
		<form class="col s12" id="payment-form" action="{% url 'checkout' %}" method="POST">
		{% csrf_token %}
			<div class="row">
                <div class="col s12">
                    <p class="gray">Details</p>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </div>
			</div>
            <div class="row">
                <div class="col s12">
                    <p class="gray">Delivery</p>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </div>
			</div>

			{% if user.is_authenticated %}
			<label for="id-save-info">Save this delivery information to my profile</label>
			<input type="checkbox" id="id-save-info" name="save-info" checked>
            {% else %}
			<label for ="id_save-info">
            <a href="{% url 'account_signup' %}">Create an account</a> or
            <a href="{% url 'account_login' %}">login</a> to save this information
            </label>
            {% endif %}

            <div class="row">
                <div class="col s12">
                    <p class="gray">Payment</p>
                    <!-- A Stripe card element will go here -->
                    <div id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div id="card-errors"></div>

                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </div>
            </div>                
            <a class="waves-effect waves-light btn full-width" href="{% url 'view_cart' %}">Adjust Cart</a>
            <button class="btn waves-effect waves-light full-width" id="submit-button" type="submit" name="action">Complete Order
                <i class="material-icons right">send</i>
            </button>
            <p class="gray">Your card will be charged ${{ grand_total|floatformat:2}}</p>
		</form>
    </div>
</div>

<div id="loading-overlay">
    <h1 class="loading-spinner">
        <i class="material-icons">autorenew</i>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}