@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ------------------------------- Colors/Backgrounds */

.bg-pink {
    background-color: #ef2a82 !important;
    color: #fff !important;
    border-radius: 16px !important;
}

.gray {
    color: #9098b1;
}

.ugly-blue {
    color: #40bfff !important;
}

.white-icon {
    color: #fff !important;
}

/* ------------------------------- Special paddings/margins/text */

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #fff;
    color: #0f0f10;
}

h1 {
    font-weight: 900;
    font-size: 2.2rem;
}

h4 {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}

h5 {
    font-weight: 800 !important;
}

a {
    color: #ef2a82 !important;
}

strong {
    font-weight: 700 !important;
}

i {
    color: #ef2a82 !important
}

/* ------------------------------- Classes */

.top {
    margin-top: 5rem;
}

.no-margin {
    margin-bottom: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.border-bottom {
    border-bottom: 1px solid #9098b1;
}

.full-width {
    width: 100%;
    margin: 0.5rem 0px;
}

.padding {
    padding: 0rem 2rem;
}

.img {
    padding-top: 2rem;
    padding-bottom: 2rem;

    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.content-row {
    position: relative;
    min-height: 35rem;
}

.content-img {
    padding: 0rem !important;

    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.content-section {
    background-color: #cacbd4;
    color: #fff;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    position: absolute;
    bottom: 0px;
    min-height: 20rem !important;
}

.content-item {
    font-size: 1.4rem
}

a.content-item {
    text-decoration: underline;
}

.border-top {
    border-top: 1px solid #9098b1;
}

.btn, .btn-large, .btn-small {
    color: #fff !important;
    background-color: #ef2a82 !important;
    border-radius: 5px !important;
}

.btn, .btn-large, .btn-small, .btn-flat {
    text-transform: none !important;
}

.mug-of-the-month {
    height: 40rem;
    position: relative;
}

.bg-image {
    /* The image used */
    background-image: 
        linear-gradient( rgba(202,203,212,0.8),  rgba(202,203,212,0.8)),
        url("/media/this-mug.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-image .row {
    margin-bottom: 0px;
}

.campaign-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
}

.campaign-name h2 {
    font-weight: 900 !important;
    font-size: 2.5rem !important;
    color: #fff;
    margin: 1rem 0 20rem 0;
}

.campaign-price {
    font-weight: 700;
    font-size: 1.2rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- Header */

header {
    padding-top: 1rem;
}

header i {
    color: #0f0f10 !important
}

nav {
    height: 5rem !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

nav .brand-logo {
    color: #0f0f10 !important;
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    left: 1rem !important;
}

nav a {
    color: #0f0f10 !important;
}

.sidenav {
    background-color: #cacbd4 !important;
}

.sidenav li>a {
    color: #fff !important;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}

.sidenav li>a:focus {
    color: #ef2a82 !important;
}

.sidenav li>a.sidenav-close {
    color: #ef2a82 !important;
}

.sidenav li>a.ugly-blue {
    color: #40bfff !important;
}

.sidenav-trigger {
    margin: 0px 1rem 0px 0px !important;
}

ul li>a.ugly-blue {
    color: #40bfff !important;
}

.cart-link {
    position: relative !important;
    margin-right: 1rem;
}

span.badge {
    min-width: 1.5rem !important;
}

span.badge.new {
    position: absolute !important;
    bottom: 0.5rem !important;
    right: 0.75rem !important;

    font-weight: 700 !important;
    font-size: 0.7rem !important;
    background-color: #ef2a82 !important;

    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
    -webkit-border-radius: 0.7rem !important;
    -moz-border-radius: 0.7rem !important;
    border-radius: 0.7rem;
}

/* ------------------------------- Mugs */

.card .card-image .card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-action {
    padding-top: 0px !important;
}

.mug-name {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.2rem 0px;
}

.mug-info {
    color: #bbbbbb;
    padding: 0.2rem 0px;
}

.mug-price {
    color: #40bfff;
    font-weight: 700;
    padding: 0.2rem 0px;
}

/* ------------------------------- Forms */

input,
select {
    padding: 0px 0px 0px 0.5rem !important;
    border: 1px solid #bbbbbb !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 1px 0 0 #bbbbbb !important;
    box-shadow: 0 1px 0 0 #bbbbbb !important;

    margin: 0.5rem !important;
}

input:focus,
input:active,
select:focus,
select:active {
    border: 1px solid #ef2a82 !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 1px 0 0 #ef2a82 !important;
    box-shadow: 0 1px 0 0 #ef2a82 !important;
}

select {
    display: block !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 1 !important; 
    border-bottom: none !important;
}

.checkbox-input {
    display: none !important;
}

/* ------------------------------- Quantity box */

.qty {
    height: 100% !important;
}

.qty-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-div-dec {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
}

.qty-div-inc {
    display: flex;
    justify-content: flex-start;
    height: 3rem;
    margin-left: 0.5rem;
}

input.qty-input {
    padding-left: 0.5rem !important;
    margin: 0px !important;
    max-width: 5.5rem;
}

/* ------------------------------- Cart */

.item-container {
    padding-top: 1rem !important;
}

.item-img {
    width: 100%;
    border-radius: 1rem;
}

.cart-item {
    padding-bottom: 1rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    border-radius: 1rem !important;
}

.cart-qty {
    display: flex !important;
    align-items: center !important;
}

.cart-qty .col {
    padding: 0px !important;
}

.cart-qty > div > input.qty-input {
    margin: 0rem 0px 0px 0px !important;
    padding-left: 0.5rem !important;
}

/* ------------------------------- Allauth */

.requiredField {
    display: none;
}

.signup {
    padding: 1rem;
}

.signup input {
    margin-bottom: 1rem !important;
}

.ctrlHolder {
    display: flex;
    align-items: center;
}

#div_id_remember {
    display: none !important;
}

/* ------------------------------- Toasts */

.toast-action {
    color: #40bfff !important;
}

/* ------------------------------- Footer */

.page-footer {
    color: #0f0f10 !important;
    background-color: #fff !important;
    padding-bottom: 0.75rem !important;
}

/* ------------------------------- Loading Overlay */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#ef2a82;
    background-image:url('/media/ajax-loader.gif');
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* ------------------------------- Media Queries */

@media screen and (min-height: 700px) {
    .content-section {
        min-height: 30rem !important;
    }

    .content-row {
        min-height: 45rem !important;
    }

@media screen and (min-width: 768px) {
    .padding {
        padding: 0px 10% !important;
    }

    main {
        font-size: 2rem !important;
    }

    nav .brand-logo {
        font-size: 2.5rem !important;
        left: 2rem !important;
    }

    header i {
        font-size: 2.5rem !important;
        margin-right: 1rem !important;
    }

    .sidenav > li {
        padding: 1rem !important;
    }

    .sidenav li>a {
        font-size: 2rem !important;
    }

    .content-section {
        min-height: 30rem !important;
    }

    .content-row {
        min-height: 60rem !important;
    }

    .content-item {
        font-size: 2rem;
    }

    .mug-name {
        font-size: 1.5rem;
    }

    .mug-info {
        font-size: 1.2rem;
    }

    .card-title {
        font-size: 4rem !important;
    }

    button {
        max-width: 20rem !important;
        font-size: 2rem !important;
    }
    
    a.full-width {
        max-width: 20rem !important;
        font-size: 2rem !important;
    }

    h4 {
    font-size: 2.5rem !important;
    }

    .qty-input {
        width: 5rem !important;
        height: 4.5rem !important;
        font-size: 2rem !important;
    }

    .qty,
    .qty-div-inc,
    .qty-div-dec {
        font-size: 4rem !important;
        height: 4.5rem !important;
        display: flex !important;
        align-items: center !important;
        margin-left: 0rem;
    }

    button,
    a.btn {
        display: flex !important;
        align-items: center;
        justify-content: center;
        min-height: 4.5rem !important;
        min-width: 4.5rem !important;
    }

    .white-icon {
        font-size: 3rem !important;
    }

    .update-qty {
        width: 100% !important;
        margin-left: 1rem;
    }

    .delete-item {
        margin-right: 1rem;
    }

    #payment-form {
        padding: 0px 10% !important;
    }

    input,
    select,
    label {
        height: 5rem !important;
        font-size: 2rem !important;
    }

    form i {
        font-size: 4rem !important;
    }

    .display-center {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 7rem;
    }

    nav a {
        font-size: 1.3rem !important
    }
    
    a.btn {
        max-width: 25rem !important;
    }

    .index a {
        margin-left: 30%;
        font-size: 2rem;
    }

    .mug-of-the-month {
        margin-top: 7.5rem;
        height: 80rem;
    }

    .mug-of-the-month a {
        margin-left: 33%;
        font-size: 2rem;
    }

    .campaign-title {
        font-size: 2.5rem;
    }

    .campaign-name h2 {
        font-size: 3.5rem !important;
        margin: 1rem 0 50rem 0;
    }

    .campaign-price {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .content-row {
        min-height: 70rem !important;
    }
}

@media screen and (min-width: 1100px) {
    main {
        margin: 0px 7.5% !important;
    }
}
