@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ------------------------------- Colors/Backgrounds */

.bg-pink {
    background-color: #ef2a82 !important;
    color: #fff !important;
    border-radius: 16px !important;
}

.gray {
    color: #9098b1;
}

/* ------------------------------- Special paddings/margins/text */

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #fff;
    color: #0f0f10;
}

h1 {
    font-weight: 900;
    font-size: 2.2rem;
}

h4 {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}

h5 {
    font-weight: 800 !important;
}

a {
    color: #ef2a82 !important;
}

strong {
    font-weight: 700 !important;
}

/* ------------------------------- Classes */

.top {
    margin-top: 5rem;
}

.no-margin {
    margin-bottom: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.full-width {
    width: 100%;
    margin: 0.5rem 0px;
}

.padding {
    padding: 0rem 2rem;
}

.img {
    padding-top: 2rem;
    padding-bottom: 2rem;

    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.content-row {
    position: relative;
    min-height: 40rem;
}

.content-img {
    padding: 0rem !important;

    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.content-section {
    background-color: #cacbd4;
    color: #fff;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    position: absolute;
    bottom: 0px;
    min-height: 20rem !important;
}

.content-item {
    font-size: 1.4rem
}

.border-top {
    border-top: 1px solid #9098b1;
}

.btn, .btn-large, .btn-small {
    color: #fff !important;
    background-color: #ef2a82 !important;
    border-radius: 5px !important;
}

.btn, .btn-large, .btn-small, .btn-flat {
    text-transform: none !important;
}

.mug-of-the-month {
    height: 40rem;
    position: relative;
}

.bg-image {
    /* The image used */
    background-image: 
        linear-gradient( rgba(202,203,212,0.8),  rgba(202,203,212,0.8)),
        url("/media/this-mug.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-image .row {
    margin-bottom: 0px;
}

.campaign-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
}

.campaign-name h2 {
    font-weight: 900 !important;
    font-size: 2.5rem !important;
    color: #fff;
    margin: 1rem 0 20rem 0;
}

.campaign-price {
    font-weight: 700;
    font-size: 1.2rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- Header */

header {
    padding-top: 1rem;
}

nav {
    height: 5rem !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

nav .brand-logo {
    color: #0f0f10 !important;
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    left: 1rem !important;
}

nav a {
    color: #0f0f10 !important;
}

.sidenav {
    background-color: #cacbd4 !important;
}

.sidenav li>a {
    color: #fff !important;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}

.sidenav li>a:focus {
    color: #ef2a82 !important;
}

.sidenav-trigger {
    margin: 0px 1rem 0px 0px !important;
}

.cart-link {
    position: relative !important;
    margin-right: 1rem;
}

span.badge {
    min-width: 1.5rem !important;
}

span.badge.new {
    position: absolute !important;
    bottom: 0.5rem !important;
    right: 0.75rem !important;

    font-weight: 700 !important;
    font-size: 0.7rem !important;
    background-color: #ef2a82 !important;

    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
    -webkit-border-radius: 0.7rem !important;
    -moz-border-radius: 0.7rem !important;
    border-radius: 0.7rem;
}

/* ------------------------------- Mugs */

.card .card-image .card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.mug-name {
    font-weight: 700;
    font-size: 1rem;
    padding: 0.2rem 0px;
}

.mug-info {
    color: #bbbbbb;
    padding: 0.2rem 0px;
}

.mug-price {
    color: #40bfff;
    font-weight: 700;
    padding: 0.2rem 0px;
}

/* ------------------------------- Forms */

input {
    border: 1px solid #bbbbbb !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 1px 0 0 #bbbbbb !important;
    box-shadow: 0 1px 0 0 #bbbbbb !important;

    margin: 0.5rem !important;
}

input:focus,
input:active {
    border: 1px solid #ef2a82 !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 1px 0 0 #ef2a82 !important;
    box-shadow: 0 1px 0 0 #ef2a82 !important;
}

select {
    display: block !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 1 !important; 
    border-bottom: none !important;
}

/* ------------------------------- Allauth */

.requiredField {
    display: none;
}

.signup {
    padding: 1rem;
}

.signup input {
    margin-bottom: 1rem !important;
}

.ctrlHolder {
    display: flex;
    align-items: center;
}

/* ------------------------------- Footer */

.page-footer {
    color: #0f0f10 !important;
    background-color: #fff !important;
    padding-bottom: 0.75rem !important;
}

/* ------------------------------- Loading Spinner */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(202, 203, 212, 0.8);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* ------------------------------- Media Queries */

@media screen and (min-width: 1024px) {
    main {
        padding: 0px 10%;
    }

    footer {
        margin: 0px 10% !important;
    }
}
