{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="row top">
    <div class="col s12 center">
        <i class="material-icons large bg-pink">local_cafe</i>
    </div>
</div>
<div class="row center">
    <div class="col s12">
        <h4>{% trans "Account Inactive" %}</h4>
    </div>
    <div class="col s12">
        <p class="gray">{% trans "This account is inactive." %}</p>
    </div>
</div>
{% endblock %}
