{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<div class="row top">
    <div class="col s12 center">
        <i class="material-icons large bg-pink">local_cafe</i>
    </div>
</div>
<div class="row center">
    <div class="col s12">
        <h4>{% trans "Sign In" %}</h4>
    </div>
</div>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}

<div class="row">
    <div class="col s12">
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or">{% trans 'or' %}</div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
    </div>
</div>

{% else %}

<div class="row">
    <div class="col s12">
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    </div>
</div>

{% endif %}

<div class="row">
    <div class="col s12">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="col s12">
                <a class="waves-effect waves-light btn full-width" href="{% url 'home' %}">Home</a>
            </div>
            <div class="col s12">
                <button class="primary-action waves-effect waves-light btn full-width" type="submit" name="action">{% trans 'Sign In' %}</button>
            </div>
            <div class="col s12">
                <p class="mt-2">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}