{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="row top">
    <div class="col s12 center">
        <i class="material-icons large bg-pink">local_cafe</i>
    </div>
</div>
<div class="row center">
    <div class="col s12">
        <h4>{% trans "Set Password" %}</h4>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="waves-effect waves-light btn full-width" type="submit" name="action">{% trans 'Set Password' %}</button>
        </form>
    </div>
</div>  
{% endblock %}