{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="row top">
    <div class="col s12 center">
        <i class="material-icons large bg-pink">local_cafe</i>
    </div>
</div>
<div class="row center">
    <div class="col s12">
        <h4>{% trans "Let's Get Started" %}</h4>
    </div>
    <div class="col s12">
        <p class="gray">Create a new account</p>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="waves-effect waves-light btn full-width" type="submit" name="action">{% trans "Sign Up" %}</button>
        </form>
    </div>
    <div class="col s12 center">
        <p class="gray">{% blocktrans %}Already have an account? <a href="{{ login_url }}">Log in</a>.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
