{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- Head -->

<head>

	<!-- Required meta tags -->

	{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}

	{% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
	<!-- Materialize - Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Materialize - Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
	{% endblock %}

	{% block extra_js %}
	{% endblock %}

	<title>Ugly Mugs {% block extra_title %}{% endblock %}</title>
</head>

<!-- Body -->

<body>

	<!-- Main -->

	<main>

		<!-- Header -->
		<header>
			<nav>
				<div class="nav-wrapper">
					<a href="{% url 'home' %}" class="brand-logo">UglyMugs.com</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="">ABOUT</a></li>
						{% if request.user.is_authenticated %}
						<li><a href="">MY PROFILE</a></li>
						<li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
						{% else %}
						<li><a href="{% url 'account_signup' %}">REGISTER</a></li>
						<li><a href="{% url 'account_login' %}">LOGIN</a></li>
						{% endif %}
						<li><a href="{% url 'mugs' %}">THE COLLECTION</a></li>
						<li><a href="">CONTACT</a></li>
					</ul>
				</div>
			</nav>

			<ul class="sidenav" id="mobile-demo">
				<li><a href="">ABOUT</a></li>
				{% if request.user.is_authenticated %}
				<li><a href="">MY PROFILE</a></li>
				<li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
				{% else %}
				<li><a href="{% url 'account_signup' %}">REGISTER</a></li>
				<li><a href="{% url 'account_login' %}">LOGIN</a></li>
				{% endif %}
				<li><a href="{% url 'mugs' %}">THE COLLECTION</a></li>
				<li><a href="">CONTACT</a></li>
			</ul>
		</header>

		{% block page_header %}
		{% endblock %}

		{% block content %}
        <div class="container">
		{% endblock %}
        </div>
	</main>

	<!-- Footer -->

	<footer>
	</footer>

	{% block postloadjs %}
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.js"
		integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>

	<!-- Materialize - Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<!-- Materialize - jQuery -->
	<script>
		$(document).ready(function(){
            $('.sidenav').sidenav();
        });
	</script>
	{% endblock %}
</body>

</html>